---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
} from '../../consts'
import { getCollection } from 'astro:content'
import {
  fade,
  slide,
} from 'astro:transitions'

const collection = await getCollection('links')
const links = collection.map((link) => (
  link.body.split('\n')
    .map(v => v.trim())
    .filter(l => l.startsWith('https://'))
    .map(l => {
      const url = new URL(l.split(' ')[0]);
      [...url.searchParams.keys()].forEach(v => url.searchParams.delete(v))
      return {
        link: url.toString(),
        date: link.slug,
      }
    })
)).flat()
  .sort((a, b) => new Date(b.date) - new Date(a.date))
---

<!doctype html>
<html lang="en" class="antialiased">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body class="flex no-scrollbar flex-col h-full bg-neutral-50 mx-auto max-w-2xl px-4 sm:px-6 lg:px-8 pt-8 pb-16">
<Header/>
<main transition:animate={slide({ duration: '0.4s' })}>
    <section>
        <ul class="flex flex-col divide-y border-y divide-neutral-100 border-neutral-100">
          {links.map((link) => (
                  <ul class="py-2.5 group">
                      <li class="flex items-center space-x-4">
                          <p class="text-neutral-400 font-medium text-sm">
                              <time datetime={link.date}>
                                {link.date}
                              </time>
                          </p>
                          <a href={link.link} target="_blank" class="flex-1 group-hover:underline truncate" transition:name={`link-${link.link}`}>{link.link}</a>
                      </li>
                  </ul>
            ))}
            </ul>
            </section>
            </main>
            </body>
            </html>
